body {
  background-color: #0f172a;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 40px;
}

h1 {
  color: #38bdf8;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #1e293b;
  margin: 8px;
  padding: 10px;
  border-radius: 6px;
}

a {
  color: #22c55e;
  text-decoration: none;
  font-size: 18px;

h1 {
  text-shadow: 0 0 10px #38bdf8, 0 0 20px #38bdf8;
}
button {
  padding: 10px 20px;
  background: #22c55e;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #16a34a;
}


